* {
  margin: 0;
  padding: 0;
}
.login-form,
.bottom-links {
  width: 40%;
  margin: 12% auto;
  padding: 0 0 20%;
  font-size: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}
.pass,
.user {
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid rgb(0, 0, 0);
}
input{
    font-size:x-large
}
.pass input {
 

  border: none;
  outline: none;
}
.user input {
  
  border: none;
  outline: none;

}
.login-botton {
  background-color: green;
  padding: 1.5rem;
  border-radius: 5px;
  margin: auto 50%;
  font-size: 1.5rem;
  width: 5rem;
  color: rgb(0, 0, 0);
}
.check-box {
  margin: 10% 15%;
}
.social-links {
  width: 50%;
  margin: 8% 3%;
  border: 1px solid;
  padding: 5%;
}
div .social-links:nth-child(1) {
  background-color: rgb(28, 91, 159);
}
div .social-links:nth-child(2) {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
div .social-links:nth-child(3) {
  background-color: rgb(64, 147, 235);
}
.social-links  {
  border-left: black solid 1px;
  padding-left: 5px;
  border:none;
}

.social-botton {
  width: 46%;
  float: left;
  padding-top: 6%;
  border-right: rgb(0, 0, 0) solid;

}
.data {
  width: 49%;
  float: right;
  padding-top: 10%;
}

span {
  border-right: solid black 2px;
  padding-right: 15px;
}
.a {
  border-right: solid rgb(255, 255, 255) 2px;
}
.bottom-links {
  width: 50%;
  font-size: 25px;
  background-color: rgb(184, 175, 175);
  margin-top: -15rem;
  text-align: center;
  padding: 0.5% 0;
}
a {
  text-decoration: none;
  color: rgb(27, 92, 189);
  padding: 0 2%;
}
.bottom-links a:nth-child(2) {
  border-left: solid rgb(255, 255, 255);
}
.or {
  position: absolute;
  top: 32%;
  right: 50.7%;
  z-index: 1;
  border: 1px black solid;
  border-radius: 50%;
  width: 2.5rem;
  text-align: center;
  font-size: 2rem;
  background-color: #fff;
}

img {
  width: 10%;
}
i {
  font-size: 5rem;
}
